<div class='span11'>
	<h1>List of Students</h1>
	<table id='boot' class='table table-hover table-striped'>
		<thead>
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Outstanding Balance</th>
				<th>Last attended</th>
			</tr>
		</thead>
		<tbody>
			<% @students.each do |student| %>
			<tr <%=Random.rand(20)>12?"class='unpaid'": "" %>>
				<td><%= student.name.split.last %></td>
				<td><%= student.name.split.first %></td>
				<td>$<%= number_with_precision(student.balance || 0,:precision=>2) %></td>
				<td>2 Weeks Ago</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>