// Place all the styles related to the classrecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.table.table-striped.table-hover>tbody>tr.unpaid>td {
	background-color: #FAA;
}

table.table.table-striped.table-hover>tbody>tr.unpaid:hover>td {
	background-color: #EAA;
}

table.table.table-striped.table-hover>tbody>tr.add-to>td {
	background-color: #AFA;
}

table.table.table-striped.table-hover>tbody>tr.add-to:hover>td {
	background-color: #AEA;
}