.theader {
	font-weight: bold;
}

table#boot>tbody>tr.unpaid>td {
	background-color: #FAA;
}

table#boot>tbody>tr.unpaid:hover>td {
	background-color: #EAA;
}

.height-fix {
	height: 100%
}

 #content {
 	height: 100%;
 	overflow-x: hidden;
 	overflow-y: scroll;
 }

 #content>div {
 	padding-bottom: 80px;
 }

 table {
 	table-layout: fixed;
 }

 .smallcol {
 	width: 30px;
 }

 h1 span.badge a
 {
 	color: white;
 }