// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#transactions>tbody>tr.expense>td {
	background-color: #FAA
}

table#transactions>tbody>tr.expense:hover>td,
table#transactions>tbody>tr.expense:focus>td {
	background-color: #EAA
}

table#transactions form {
	margin: 0;
}

table#transactions form>input[type=text] {
	height: 100%;
	margin:0;
}