<header id="header" class="navbar navbar-inverse bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Dance Sanctuary Sign-up and Registration</a>
    </div>
  </div>
</header>